# {{ ansible_managed }}
server {
{% if enable_tls | bool %}
    listen 5000 ssl;
    ssl_certificate     {{ tls_certificate_path }};
    ssl_certificate_key {{ nginx_private_key_path }};
{% else %}
    listen 5000;
{% endif %}
    access_log /var/log/nginx/keystone/access.log;
    error_log /var/log/nginx/keystone/error.log;
    location / {
        uwsgi_pass unix:///run/uwsgi/keystone-public.socket;
        include uwsgi_params;
        uwsgi_param SCRIPT_NAME '';
    }
}
server {
{% if enable_tls | bool %}
    listen 35357 ssl;
    ssl_certificate     {{ tls_certificate_path }};
    ssl_certificate_key {{ nginx_private_key_path }};
{% else %}
    listen 35357;
{% endif %}
    access_log /var/log/nginx/keystone/access.log;
    error_log /var/log/nginx/keystone/error.log;
    location / {
        uwsgi_pass unix:///run/uwsgi/keystone-admin.socket;
        include uwsgi_params;
        uwsgi_param SCRIPT_NAME '';
   }
}
