[Unit]
Description={{ item.service_name }} service

[Service]
Restart=on-failure
PermissionsStartOnly=true
{% if item.exec_start_pre %}
ExecStartPre={{ item.exec_start_pre }}
{% endif %}
ExecStart={{ item.service_path }}/{{ item.service_name }} {{ item.args }}
User={{ item.username }}

[Install]
WantedBy=multi-user.target
Alias={{ item.service_name }}.service
