# {{ ansible_managed }}
[uwsgi]
master = true
processes = 2
threads = 2
no-orphans = true
chmod-socket = 660
virtualenv = {{ bifrost_venv_dir }}

procname-prefix = keystone-{{ item }}

socket = /run/uwsgi/keystone-{{ item }}.socket
pidfile = /run/uwsgi/keystone-{{ item }}.pid

name = keystone
uid = keystone
gid = {{ nginx_user }}

chdir = /var/www/keystone/
wsgi-file = /var/www/keystone/{{ item }}
