<network>
  <name>{{ test_vm_network }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ network_interface }}' stp='on' delay='0'/>
  <ip address='{{ test_vm_network_ip }}' netmask='{{ test_vm_network_netmask }}' />
</network>
