[Unit]
Description={{ item.service_name }} service

[Service]
ExecStart=/usr/bin/{{ item.service_name }} {{ item.args }}
User={{ item.username }}

[Install]
WantedBy=multi-user.target
Alias={{ item.service_name }}{{ init_ext }}