{
    "availability_zone": "",
    "files": [
        {
            "content_path": "/content/0000",
            "path": "/etc/network/interfaces"
        },
    ],
    "hostname": "{{item.split(',')[10]}}",
    "name": "{{item.split(',')[10]}}",
    "meta": {},
    "public_keys": {
        "mykey": "{{ ssh_public_key }}"
    },
    "uuid": "{{item.split(',')[9]}}"
}
