{
"links": [
    {
        "id": "{{node_default_network_interface}}",
        "type": "phy",
{#
NOTE(TheJulia): I cannot determine a better way of doing this
with the information that we have available to us in nics.
#}
{% for nic in nics %}
    {%- if loop.first %}        "ethernet_mac_address": "{{ nic.mac }}",{% endif %}
{% endfor %}
        "mtu":{{network_mtu}}
    }
],
"networks": [
    {
        "id": "publicnet-ipv4",
        "type": "ipv4",
        "link": "{{ node_default_network_interface }}",
        "ip_address": "{{ ipv4_address }}",
        "netmask": "{{ipv4_subnet_mask}}",
        "dns_nameservers": [
            "{{ipv4_nameserver}}"
        ],
        "routes": [
            {
                "network": "0.0.0.0",
                "netmask": "0.0.0.0",
                "gateway": "{{ipv4_gateway}}"
            }
        ]
    }
],
"services": [
    {
        "type": "dns",
        "address": "{{ipv4_nameserver}}"
    }
]
}
