{% if node_network_info is defined %}
{{ node_network_info }}
{% else %}
{
"links": [
{% for nic in nics %}
    {
{% if ipv4_interface_mac is defined %}
        "id": "{{ nic.mac }}",
{% else %}
{% if loop.first %}
        "id": "{{ node_default_network_interface }}",
{% else %}
        "id": "{{ nic.mac }}",
{% endif %}
        "type": "phy",
        "ethernet_mac_address": "{{ nic.mac }}",
        "mtu":{{network_mtu}}
{% if loop.last %}
    }
{% else %}
    },
{% endif %}
{% endif %}
{% endfor %}
],
"networks": [
{% for nic in nics %}
    {
        "id": "ipv4-{{ nic.mac }}",
{% if (ipv4_interface_mac is defined) and (nic.mac == ipv4_interface_mac) %}
        "link": "{{ nic.mac }}",
        "type": "ipv4",
        "ip_address": "{{ ipv4_address }}",
        "netmask": "{{ipv4_subnet_mask}}",
        "dns_nameservers": [
            "{{ipv4_nameserver}}"
        ],
        "routes": [
            {
                "network": "0.0.0.0",
                "netmask": "0.0.0.0",
                "gateway": "{{ipv4_gateway}}"
            }
        ]
{% elif loop.first %}
        "link": "{{ node_default_network_interface }}",
        "type": "ipv4",
        "ip_address": "{{ ipv4_address }}",
        "netmask": "{{ipv4_subnet_mask}}",
        "dns_nameservers": [
            "{{ipv4_nameserver}}"
        ],
        "routes": [
            {
                "network": "0.0.0.0",
                "netmask": "0.0.0.0",
                "gateway": "{{ipv4_gateway}}"
            }
        ]
{% else %}
        "type": "ipv4_dhcp",
        "link": "{{ nic.mac }}"
{% endif %}
{% if loop.last %}
    }
{% else %}
    },
{% endif %}
{% endfor %}
],
"services": [
    {
        "type": "dns",
        "address": "{{ipv4_nameserver}}"
    }
]
}
{% endif %}
