---
init_template: systemd_template.j2
init_dest_dir: /usr/lib/systemd/system/
init_ext: .service
syslinux_tftp_dir: /usr/share/syslinux
# NOTE (cinerama): The iPXE binaries are not currently packaged for SuSE,
# so we download them and install them to /usr/local/share/ipxe. If the
# files are packaged, download_ipxe can be removed and ipxe_dir set to
# the location of the packaged files.
download_ipxe: true
ipxe_dir: /usr/local/share/ipxe
ipxe_full_binary: ipxe.lkrn
ironic_rootwrap_dir: /usr/bin/
nginx_user: nginx
mysql_service_name: mysql
tftp_service_name: tftp
required_packages:
  - python-selinux
  - mariadb-server
  - dnsmasq
  - rabbitmq-server
  - python-devel
  - python-MySQL-python
  - python-iniparse
  - libffi-devel
  - libxslt-devel
  - openssl-devel
  - libxml2-devel
  - qemu-ipxe
  - tftp
  - syslinux
  - xinetd
  - parted
  - ipmitool
  - psmisc
  - nginx
  - wget
  - genisoimage
  - kpartx
  - qemu-tools
  - openwsman-python
  - policycoreutils-python
  - debootstrap
  - iptables
  - tar
  - curl
  - socat
  - python-pip
  - gcc
  - python-PyMySQL
iscsi_client_package: "open-iscsi"
