---
# git_root is the folder where to place downloaded git repos
git_root: "/opt/stack"
# *_git_url can be overridden by local clones for offline installs
dib_git_url: https://git.openstack.org/openstack/diskimage-builder
ironicclient_git_url: https://git.openstack.org/openstack/python-ironicclient
shade_git_url: https://git.openstack.org/openstack-infra/shade
ironic_git_url: https://git.openstack.org/openstack/ironic
ironicinspector_git_url: https://github.com/openstack/ironic-inspector
ironicinspectorclient_git_url: https://github.com/openstack/python-ironic-inspector-client
reqs_git_url: https://git.openstack.org/openstack/requirements
staging_drivers_git_url: https://git.openstack.org/openstack/ironic-staging-drivers
keystone_git_url: https://git.openstack.org/openstack/keystone
# *_git_folder can be overridden by local clones for offline installs
ironicclient_git_folder: "{{ git_root}}/python-ironicclient"
ironic_git_folder: "{{ git_root}}/ironic"
ironicinspector_git_folder: "{{ git_root}}/ironic-inspector"
ironicinspectorclient_git_folder: "{{ git_root}}/python-ironic-inspector-client"
shade_git_folder: "{{ git_root}}/shade"
dib_git_folder: "{{ git_root }}/diskimage-builder"
reqs_git_folder: "{{ git_root }}/requirements"
upper_constraints_file: "{{ lookup('env', 'UPPER_CONSTRAINTS_FILE') | default(reqs_git_folder + '/upper-constraints.txt', True) }}"
staging_drivers_git_folder: "{{ git_root }}/ironic-staging-drivers"
keystone_git_folder: "{{ git_root}}/keystone"
# *_git_branch can be overridden for stable branch testing
ironicclient_git_branch: stable/ocata
ironic_git_branch: stable/ocata
shade_git_branch: master
dib_git_branch: master
ironicinspector_git_branch: stable/ocata
ironicinspectorclient_git_branch: stable/ocata
reqs_git_branch: stable/ocata
staging_drivers_git_branch: stable/ocata
keystone_git_branch: stable/ocata

# Conditional variables utilized based on CI or manual testing options.
copy_from_local_path: false
ci_testing_zuul: false

bifrost_install_sources:
  - git_folder: "{{ ironic_git_folder }}"
    git_url: "{{ ironic_git_url }}"
    git_branch: "{{ ironic_git_branch }}"
    name: ironic
  - git_folder: "{{ ironicclient_git_folder }}"
    git_url: "{{ ironicclient_git_url }}"
    git_branch: "{{ ironicclient_git_branch }}"
    name: ironicclient
  - git_folder: "{{ shade_git_folder }}"
    git_url: "{{ shade_git_url }}"
    git_branch: "{{ shade_git_branch }}"
    name: shade
  - git_folder: "{{ dib_git_folder }}"
    git_url: "{{ dib_git_url }}"
    git_branch: "{{ dib_git_branch }}"
    name: dib
  - git_folder: "{{ ironicinspector_git_folder }}"
    git_url: "{{ ironicinspector_git_url }}"
    git_branch: "{{ ironicinspector_git_branch }}"
    name: ironicinspector
  - git_folder: "{{ ironicinspectorclient_git_folder }}"
    git_url: "{{ ironicinspectorclient_git_url }}"
    git_branch: "{{ ironicinspectorclient_git_branch }}"
    name: ironicinspectorclient
  - git_folder: "{{ reqs_git_folder }}"
    git_url: "{{ reqs_git_url }}"
    git_branch: "{{ reqs_git_branch }}"
    name: requirements
  - git_folder: "{{ staging_drivers_git_folder }}"
    git_url: "{{ staging_drivers_git_url }}"
    git_branch: "{{ staging_drivers_git_branch }}"
    name: ironic-staging-drivers
  - git_folder: "{{ keystone_git_folder }}"
    git_url: "{{ keystone_git_url }}"
    git_branch: "{{ keystone_git_branch }}"
    name: keystone
