---
- hosts: target
  name: "Install Ironic on the target host."
  become: yes
  gather_facts: yes
  roles:
    - role: bifrost-prep-for-install
      when: not (skip_install | default(false) | bool)
    - bifrost-keystone-install
    - bifrost-ironic-install
    - role: bifrost-keystone-client-config
      user: "{{ ansible_env.SUDO_USER | default(ansible_user_id) }}"
      clouds:
        bifrost:
          config_username: "{{ ironic.keystone.default_username }}"
          config_password: "{{ ironic.keystone.default_password }}"
          config_project_name: "baremetal"
          config_region_name: "{{ keystone.bootstrap.region_name }}"
          config_auth_url: "{{ keystone.bootstrap.public_url }}"
        bifrost-admin:
          config_username: "{{ keystone.bootstrap.username }}"
          config_password: "{{ keystone.bootstrap.password }}"
          config_project_name: "{{ keystone.bootstrap.project_name }}"
          config_region_name: "{{ keystone.bootstrap.region_name }}"
          config_auth_url: "{{ keystone.bootstrap.public_url }}"
    - role: bifrost-create-dib-image
      dib_imagename: "{{ http_boot_folder }}/ipa"
      build_ramdisk: false
      dib_os_element: "{{ ipa_dib_os_element|default('debian') }}"
      dib_elements: "ironic-python-agent-ramdisk {{ ipa_extra_dib_elements | default('') }}"
      when: create_ipa_image | bool
    - role: bifrost-create-dib-image
      dib_imagename: "{{ deploy_image }}"
      dib_imagetype: "qcow2"
      dib_elements: >
        {{ dib_image_type|default('vm') }}
        enable-serial-console
        {{ dib_init_element|default('simple-init') }}
        {{ extra_dib_elements|default('') }}
      when: create_image_via_dib | bool
  environment:
    http_proxy: "{{ lookup('env','http_proxy') }}"
    https_proxy: "{{ lookup('env','https_proxy') }}"
    no_proxy: "{{ lookup('env', 'no_proxy') }}"
