- hosts: all
  tasks:
    - name: Copy files from {{ ansible_user_dir }}/ on node
      synchronize:
        src: '{{ ansible_user_dir }}/'
        dest: '{{ zuul.executor.log_root }}'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - --include=/logs/**
          - --include=*/
          - --exclude=*
          - --prune-empty-dirs

    - name: Store bifrost log as a Zuul artifact
      zuul_return:
        data:
          zuul:
            artifacts:
              - name: Bifrost log
                url: 'logs/bifrost.log'
