# interfaces(5) file used by ifup(8) and ifdown(8)
auto lo
iface lo inet loopback

auto {{ node_default_network_interface }}
iface {{ node_default_network_interface }} inet static
address {{ item.split(',')[11] }}
netmask {{ ipv4_subnet_mask }}
gateway {{ ipv4_gateway }}
dns-nameservers {{ ipv4_nameserver }}
