{
"links": [
    {
        "id": "{{node_default_network_interface}}",
        "type": "phy",
        "ethernet_mac_address": "{{item.split(',')[0]}}",
        "mtu":1500
    }
],
"networks": [
    {
        "id": "publicnet-ipv",
        "type": "ipv4",
        "link": "{{ node_default_network_interface }}",
        "ip_address": "{{item.split(',')[11]}}",
        "netmask": "{{ipv4_subnet_mask}}",
        "dns_nameservers": [
            "{{ipv4_nameserver}}"
        ],
        "routes": [
            {
                "network": "0.0.0.0",
                "netmask": "0.0.0.0",
                "gateway": "{{ipv4_gateway}}"
            }
        ]
    }
],
"services": [
    {
        "type": "dns",
        "address": "{{ipv4_nameserver}}"
    }
]
}
